{% extends 'base.html'%}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}


{% block styles%}
    {% bootstrap_css %}
    <link rel='stylesheet' href="{% static 'css/home.css'%}">
{% endblock%}

{% block content%}

<div class="container-fluid" height='500px'>
    <div class='row'>
        {% for pos in post %}
        <div class="col-md-4">
            <div class="card" style="width: 21rem; padding-bottom:2%">
                <img src="{{pos.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{pos.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{pos.description}} </h6>
                    <p class="card-text"> by: {{pos.author}} </p>
                    <p class="card-text">Date: {{pos.date}} </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="container-fluid" height='500px'>
    <div class='row'>
        {% for bus in business %}
        <div class="col-md-4">
            <div class="card" style="width: 21rem; padding-bottom:2%">
                <div class="card-body">
                    <h5 class="card-title">{{bus.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{bus.n_name}} </h6>
                    <p class="card-text"> by: {{bus.email}} </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<div class="container-fluid" height='500px'>
    <div class='row'>
        {% for neigh in neighbourhood %}
        <div class="col-md-4">
            <div class="card" style="width: 21rem; padding-bottom:2%">
                <div class="card-body">
                    <h5 class="card-title">{{neigh.n_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{neigh.location}} </h6>
                    <p class="card-text"> by: {{neigh.occupants}} </p>
                    <p class="card-text"> by: {{neigh.admin}} </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}



