{% extends 'base.html'%}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}


{% block styles%}
    {% bootstrap_css %}
    <link rel='stylesheet' href="{% static 'css/home.css'%}">
{% endblock%}


{% block content%}
<div class='container'>
    <h1 style='text-align: center;font-family:Dancing-Script, cursive; font-size: xxx-large; padding-top:3%; color:rgb(7, 59, 50)'>Welcome to the Neighbourhood</h1>
</div>
<div class='container-fluid'>
    <img src="/media/"width="1350" height="600" style="padding-left:4%">

</div>  
{% endblock %}