{% extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block content %}

<div class="container">

    <h1 style='text-align: center;font-family:Dancing-Script, cursive; font-size: xxx-large; padding-top:3%; color:blue'>Hey Youuu!! </h1>
    {% for prof in profile %}
    <div class="row justify-content-center mt-5">
            <div class="text-center">
            <p>Name: <br> {{prof.name}}</p>
            <p>Id:<br>{{prof.profile_id}}</p>
            <p>Email: <br>{{prof.email}}</h4> <br>
            <p>Neighbourhood: <br>{{prof.n_name}}</p> <br>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}
    name = models.CharField(max_length=255)
    email = models.CharField(max_length=255)
    n_name = models.ForeignKey(Neighbourhood, on_delete=models.CASCADE)
    profile_id = models.IntegerField()
