{% extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block content %}

<div class="container">
    {% for prof in profile %}
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
            <div class="text-center">
                <img src="{{ prof.profile_picture.url }}" class="rounded-circle" width="100" height="100" />
                        {% if request.user == user %}
                        </span>
                        {% else %}
                        <h3 class="py-4">{{ user.username }}
                        </h3>
                        {% endif %}
                    </h3>
                </div>
            {% if prof.bio %}
            <p>{{ prof.bio }}</p>
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}